<h1>Editing categorier</h1>

<%= render "form", categorier: @categorier %>

<br>

<div>
  <%= link_to "Show this categorier", @categorier %> |
  <%= link_to "Back to categoriers", categoriers_path %>
</div>
